/* styles.css */
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#building {
  display: flex;
  background-color: #fff;
  border: 2px solid #333;
  height: 800px;
}

#floors {
  display: flex;
  border-right: 1px solid #ccc;
  flex-direction: column-reverse;
  width: 200px;
}

.floor {
  display: flex;
  background-color: #e9e9e9;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items:  center;
  height: 80px;
  padding: 0 10px;
}

.floor:last-child {
  border-bottom: none;
}

.floor-number {
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

#elevators {
  display: flex;
  position: relative;
  width: 300px;
}

.elevator-shaft {
  position: relative;
  border: 1px solid #ccc;
  flex: 1;
  margin: 0 5px;
}

.elevator {
  position: absolute;
  display: flex;
  background-color: #fc0;
  border: 1px solid #333;
  justify-content: center;
  align-items:  center;
  width: 100%;
  height: 80px;
  transition: bottom 1s ease-in-out;
  font-weight: bold;
  bottom: 0;
}

#elevator-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.elevator-control {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.elevator-control h3 {
  margin: 0 0 10px;
}

.floor-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
