/* styles.css */
body {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  align-items:  center;
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #333;
}

#info-container {
  position: absolute;
  color: #888;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 5px #0000001a;
}

#simulation-container {
  display: flex;
  align-items:  flex-start;
}

#building {
  display: flex;
  background-color: #d9d9d9;
  border: 3px solid #333;
}

.floor {
  display: flex;
  position: relative;
  border-bottom: 1px solid #aaa;
  flex-direction: column;
  justify-content: space-between;
  align-items:  center;
  width: 120px;
  height: 100px;
}

.floor:last-child {
  border-bottom: none;
}

.floor-label {
  color: #555;
  padding-top: 5px;
  font-size: 12px;
}

.floor-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
}

.floor-button {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #888;
  border-radius: 3px;
  width: 50px;
  height: 20px;
  font-size: 10px;
}

.floor-button.active {
  background-color: #ffc107;
  font-weight: bold;
}

.elevator-shaft {
  position: relative;
  background-color: #ccc;
  border-left: 1px solid #aaa;
  width: 80px;
  height: 100%;
}

.elevator {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #4caf50;
  border: 2px solid #333;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  width: 90%;
  height: 100px;
  transition: transform .5s ease-in-out;
  font-size: 10px;
  bottom: 0;
}

.elevator-info {
  font-weight: bold;
}

.elevator-panel {
  position: absolute;
  display: none;
  background: #e0e0e0;
  border: 1px solid #999;
  border-radius: 4px;
  width: 90px;
  padding: 5px;
  top: 5px;
  right: -105px;
}

.elevator:hover .elevator-panel {
  display: block;
}

.elevator-panel h4 {
  text-align: center;
  margin: 0 0 5px;
  font-size: 12px;
}

.elevator-panel-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.elevator-button {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #888;
  border-radius: 3px;
  width: 100%;
  height: 25px;
}

.elevator-button.active {
  color: #fff;
  background-color: #4caf50;
  font-weight: bold;
}
